@model CAExamples.Models.FormControl

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>FormControl</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.isFullTime)
        </dt>

        <dd>
            @Model.isFullTime.ToString()
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.isStudent)
        </dt>

        <dd>
            @Model.isStudent.ToString()
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
